<app-customer></app-customer>


<!-- <button (click)="showData()">Click Me</button>

<table border="1">
  <tr>
    <th>
      ID
    </th> 
    <th>
      Name
    </th>
    <th>
      Age
    </th>
    <th>
      Index
    </th>
    <th>
      First
    </th>
    <th>
      Last
    </th>
    <th>
      Even
    </th>
    <th>
      Odd
    </th>
  </tr>
  <tr *ngFor="let i of obj;let e= index; let f = first; let l = last; let ev = even; let od = odd ">
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.age}}</td>
    <td>{{e}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>
    <td>{{ev}}</td>
    <td>{{od}}</td>
  </tr>
</table>


Enter Number : <input type="text" #txt (keyup)="0">
<div [ngSwitch]="txt.value">
    <div *ngSwitchCase="100">Hello Ashish Adhikari</div>
    <div *ngSwitchCase="100">Hello Srikant Soni</div>
    <div *ngSwitchCase="102">Hello Arihant Kapoor</div>
    <div *ngSwitchDefault>Hello its default</div>
</div>

<!-- 
<br>
Employee Id : {{obj.id}}
<br>
Employee Name: {{obj.name}}
<br>
Employee Age: {{obj.age}}



<p>{{getData()}}</p>


<p>{{max(56,900)}}</p>

<img src="{{path}}" alt="watch">


<p ngNonBindable>{{firstName}}</p>

<p>{{getFirstName() + ' ' + getLastName()}}</p>

<p>{{ 1 + 4 }}</p>

<span [innerHTML]="title"></span>


<button [disabled]="isdisabled">Click Me</button>

<img [src]="path" alt="">

<br><br>
<table [attr.border] = "border">
  <tr>
    <th [attr.colspan] = "colspan">
      Student Information
    </th>
  </tr>

  <tr>
    <td>
      ID
    </td>
    <td>
      Name
    </td>
    <td>
      Age
    </td>
  </tr>

  <tr>
    <td>
      1
    </td>
    <td>
      Arihant
    </td>
    <td>
      25
    </td>
  </tr>

  <tr>
    <td>
      2
    </td>
    <td>
      Kevin
    </td>
    <td>
      25
    </td>
  </tr>
</table>


<br>

<hr>

<br>  


<input type="text" (mouseover)="Fmouse()"> -->



<hr>

<br>  
<br> -->
