<!-- <h1>Gojo Satoru</h1>


<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Primary</button>
<button mat-button color="warn" disableRipple>Primary</button>

<button mat-button>Mat button</button>
<button mat-raised-button>mat raised button</button>
<button mat-flat-button>mat flat button</button>
<button mat-stroked-button>mat stroked button</button>
<button mat-icon-button>click icon</button>
<button mat-fab>click fab</button>
<button mat-mini-fab>click mini fab</button>

<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<mat-button-toggle #toggleButton>Hello world</mat-button-toggle>

{{toggleButton.checked}}


<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-2">subheading 2</div>
<div class="mat-subheading-1">subheading 1</div> -->

<!-- 
<div>
    <mat-button-toggle-group #buttonToggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React </mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>

    {{buttonToggleGroup.value}}

</div>


<div>
    <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="below after">Notification</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="above before">Notification</span>
</div> -->

<!-- <div>
    <span matBadge="5" matBadgePosition="above before"></span>
</div> -->

<!-- 
<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div> -->


