<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SalesForcePro </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="global.loggedin">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="Dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Sales">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="LeadForm">LeadForm</a>
        </li>
        
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> -->
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="global.loggedin = !global.loggedin">Logout</a>
        </li>
      </ul>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="!global.loggedin">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Home/Login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>