<!-- <h1>H1 Tag</h1>
<button mat-button>click</button>

<button mat-button color="primary">Primary</button>

<button mat-button color="accent">Accent</button>

<button mat-button color="warn" disableRipple>Warn</button>

<button mat-raised-button>click Raised</button>

<button mat-flat-button>click Flat</button>

<button mat-stroked-button>click Stroked</button>

<button mat-icon-button>click Icon</button>

<button mat-fab>click fab</button>

<button mat-mini-fab>click mini-fab</button>

<div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<mat-button-toggle #toggleButton checked>Hello World</mat-button-toggle>

{{ toggleButton.checked }}

<div class="mat-headline">H1</div>
<div class="mat-title">H2</div>
<div class="mat-subheading-2">H3</div>
<div class="mat-subheading-1">H4</div>

<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Bold Body text</div>
<div class="mat-caption">Caption text</div> -->

<!-- <div>
  <mat-button-toggle-group #buttonToggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>

    <mat-button-toggle value="React">React</mat-button-toggle>

    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>

  {{ buttonToggleGroup.value }}
</div>

<br /><br />

<div>
  <span matBadge="5" matBadgePosition="below before">Notification</span>
</div>

<br /><br />

<div>
  <span matBadge="5" matBadgeSize="large" matBadgePosition="below after"
    >Notification</span
  >
</div>

<br /><br />

<div>
  <span matBadge="5" matBadgeSize="medium" matBadgePosition="above before"
    >Notification</span
  >
</div>

<br /><br />

<div>
  <span matBadge="5" matBadgeSize="small">Notification</span>
</div> -->
