<!-- <h1>TrackBy demo</h1>
<button (click)="getData()">Click Me</button>

<table border = 1>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>age</th>
  </tr>
  <tr *ngFor="let student of students; trackBy : trackByStudentId">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
  </tr>
</table> -->

<!-- <br>
<hr>
<br>   -->

<!-- <h1>ngStyle Demo</h1>

<br>
<br> -->

<!-- <button [ngStyle]="{'font-style': 'italic', 'color':'red'}">ngStyle option 1</button> -->

<!-- <button [ngStyle]="{'font-style': 'italic', 'color':fontColor}">ngStyle option 1</button> -->

<!-- <div [ngStyle]="{'color': product?'green':'red'}">
  {{product?'Available':'Not Availabe'}}
</div>


<button [ngStyle]="addStyle()">ngStyle option 3</button> -->


<!-- <h1>ngClass demo</h1>

<hr>


<input type="text" [(ngModel)] = "data">
<br>

{{data}}
<br>
<button [ngClass]="{'btn-success':data, 'btn-search': !data}" [disabled]="!data">Search</button>

<div>
  <p *ngIf="data!=''"><strong>Search results for</strong></p> {{data}}
</div> -->


<!-- <button [ngClass]="['btn', 'btn-info','btn-lg']">NgClass option 2</button> -->
<!-- <button [ngClass]="addClass()">NgClass option 3</button> -->

<!-- <h1>Custom Directive demo</h1> -->
<!-- <div appMycustomeDirective>This is my custom directive</div> -->

<!-- <p appMycustomeDirective>Highlight mouse enter event</p> -->


<!-- <br>
<br>

<div>
  <input type="radio" name="name" (click)="color='green'">Green
  <input type="radio" name="name" (click)="color='yellow'">Yellow
  <input type="radio" name="name" (click)="color='blue'">Blue
</div> -->


<!-- <input type="color" [(ngModel)] = "color"> -->

<!-- <p [appMycustomeDirective] = "color" >Hightlight me</p> -->

<!-- using color variable defined in customDirectives -->
<!-- <p [color] = "color" appMycustomeDirective>Hightlight me</p> -->


<!-- <div *ngIf="false"></div> -->



