/* You can add global styles to this file, and also import other style files */

/* button{
    background-color: aqua;
    text-align: center;
    width: 120px;
    height: 30px;
    border: none;
} */